$color_healthy: #A5D6A7;
$color_background: #121212;
$color_item_background: rgba(white, 0.05);
$color_down: #CF6679;
$color_unhealthy: #CF6679;
$color_degraded: #FFE082;
$color_text: white;
$alert_width: 5px;