// $main_font: 'Roboto';
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Great+Vibes|Inconsolata|Karla|Montserrat|Roboto:100|Source+Code+Pro&display=swap");

$main_font: 'Source Sans Pro';
$title_font: 'Roboto';

$title_size: 1.2rem;
